@media print {

    /* hide */
    audio {
        display: none;
    }
    
    /* print links */
    a[href]:after {
        content: " (" attr(href) ")";
        display: none;
    }
    
    /* paper sizing */
    @page {
        margin: 1in;
    }

}

