@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


body {
    background-image: url("assets/OBSK480.png");
    font-family: "Madimi One", sans-serif;
    margin:0;
}

/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: #00b2ff;
    /* audio controls background */
    --plyr-audio-controls-background: #ffec9b;
    /* audio controls color */
    --plyr-audio-control-color: black;

    --plyr-audio-control-color-hover:  #ffec9b ;

    --plyr-audio-progress-buffered-background:  #fd70ce;

    --plyr-audio-range-track-background: #fd70ce;
    
    --plyr-font-family: sans-serif;
    --plyr-font-size-time: 16px;

    --plyr-tooltip-background: white;
    --plyr-tooltip-color: #00b2ff; 

    --plyr-control-icon-size: 16px;


}


/* Layout */
main {
    /* Fixed width center align */
    margin-inline: auto;
    font-family: "Madimi One";
    background-color: #ffb494c4;
}


article {
    /* flow content horizontally */
    display: flex;
    gap: 0em;
    flex-direction: column;
    align-items: center;
   
}


section{
    width:16em;
    font-size: 2.5em;
    text-wrap: wrap;
    background-color: #00b2ff;
    padding:0px 50px;
    border-bottom:3px #fd70ce dashed;
    
}

.title{
    min-width: 50%;
    background-color: #ffec9b;
    text-wrap: wrap;
    padding: 1.15em;
    height:100vh;
    border-bottom:3px #fd70ce dashed;

}

.title p {
    background: #00b2ff;
    border: #fd70ce 5px solid;
}

.Lyrics
{
    
}
section p{
    margin: .25em;
    background: #fd70cec4;
    padding:0 1em;
    border:#ffec9b 2px solid
}



aside{
    
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;
    

}

h1{
    font-size: 2em;
    
}

h3{
    font-size: 1em;
}

.album
{
    height:1000px;
    background-color: #ffec9b7a;
    align-content:space-between;
    border-bottom:3px #fd70ce dashed; 
}



.album img
 {
    width: 550px;
 }
footer {
    text-align: center;
}





/* Media Queries */
@media (max-width: 600px) {
    main article {
        flex-direction: column;
        align-items: center;
    }
}



/* Layout Notes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

 # add an hover expand to the album art

 # use layout 

*/ 