@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


body {
    background: rgb(248, 248, 248);
    font-family: "Madimi One", sans-serif;
}

/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: darkgray;
    /* audio controls background */
    --plyr-audio-controls-background: black;
    /* audio controls color */
    --plyr-audio-control-color: white;

    --plyr-audio-control-color-hover:  black;

    --plyr-audio-progress-buffered-background:  black;

    --plyr-audio-range-track-background: white;
    
    --plyr-font-family: sans-serif;
    --plyr-font-size-time: 16px;

    --plyr-tooltip-background: white;
    --plyr-tooltip-color: black; 

    --plyr-control-icon-size: 16px;


}

*{
    border: 1px black dotted;

}
/* Layout */
main {
    /* Fixed width center align */
    margin-inline: auto;
    font-family: ;

}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
}

article {
    /* flow content horizontally */
    display: flex;
    gap: 1em;
    flex-direction: column;
}


section{
    max-width:16em;
    font-size: 2.5em;
    text-wrap: wrap;
    align-content: space-between;
    
}

section p{
    margin: .25em;
    
}


aside{
    
    display:flex;
    justify-content: space-around;
    flex-direction: row;    
}

aside img
{
    min-width: 50%;
}
aside figcaption{
    min-width: 50%;

}

footer {
    text-align: center;
}





/* Media Queries */
@media (max-width: 600px) {
    main article {
        flex-direction: column;
        align-items: center;
    }
}



/* Layout Notes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

 # add an hover expand to the album art

 # use layout 

*/ 